/* components/Developers.module.css */
.container {
    padding: 10px 10px 10px 30px;
    color: #818499;
    font-family: "Josefin Sans", sans-serif;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    display: flex;
    /* gap: 50px; */
    flex-direction: column;
  }
  
  .apiIntro {
    background: linear-gradient(135deg, rgba(129, 132, 153, 0.08) -20%, #010214 100%);
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin-bottom: 20px;
    border: 0.2px solid #8184992b;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px); */
  }
  
  .sectionTitle {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #7BCFFF;
  }
  
  .sectionDescription {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .bottomSections {
    /* background: rgba(129, 132, 153, 0.08); */
    display: flex;
    border-radius: 15px;
    gap: 10px;
    justify-content: center;
    /* overflow-y: auto; */
    max-height: calc(100% - 150px);
    flex: 1;
  }
  
  .section {
    background: rgba(129, 132, 153, 0.08);;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
  }
  
  .subSectionTitle {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #7BCFFF;
  }
  
  .docsContainer {
    display: flex;
    gap: 20px;
    height: 80%;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 30%;
  }
  
  .listItem {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #818499;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
    text-decoration: underline;
    text-decoration-color: #818499;
    text-decoration-thickness: 1px;
    transition: color 0.3s ease;
  }
  
  .listItem:hover {
    color: #7BCFFF;
  }
  
  .listItem.active {
    color: #7BCFFF;
    font-weight: 500;
  }
  
  .arrow {
    position: absolute;
    right: 0;
    opacity: 0.8;
    color: #7BCFFF;
    font-size: 0.9rem;
  }
  
  .contentArea {
    width: 70%;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
    padding: 15px;
    border: 0.2px solid rgba(129, 132, 153, 0.15);
    display: flex;
    flex-direction: column;
    max-height: 250px;
  }
  
  .contentTitle {
    font-size: 0rem;
    color: #7BCFFF;
  }
  
  .contentDescription {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #d3d3d3;
  }
  
  .codeBlock {
    background: #0f0f19;
    border-radius: 8px;
    padding: 10px;
    font-size: 0.75rem;
    color: #e0e0e0cb;
    white-space: pre-wrap;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 170px;
  }
  
  .codeBlock code {
    font-family: 'Courier', monospace;
  }


  .codeBlock::-webkit-scrollbar,
.bottomSections::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.codeBlock::-webkit-scrollbar-track,
.bottomSections::-webkit-scrollbar-track {
  background: #010214;
}

.codeBlock::-webkit-scrollbar-thumb,
.bottomSections::-webkit-scrollbar-thumb {
  background: #818499;
  border-radius: 3px;
}

.codeBlock::-webkit-scrollbar-thumb:hover,
.bottomSections::-webkit-scrollbar-thumb:hover {
  background: #81849984;
}