@import "tailwindcss";
@import '@xyflow/react/dist/style.css';

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
.react-flow__node-input {
  background: #010214 !important;
  padding: 0.5rem !important;
}

.react-flow__attribution {
  display: none;
}

.react-flow__controls {
  position: absolute !important;
  bottom: 10px !important;
  left: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.react-flow__controls button {
  font-size: 50px;
  background: #010214;
  color: #fff;
  margin: 2px 0;
}
.react-flow__controls button:hover {
  color: #1a1a1a;
}

.react-flow__background {
  background: rgba(129, 132, 153, 0.02) !important;
}

.react-flow {
  height: calc(100% - 40px) !important;
}

.react-flow__background circle {
  fill: rgba(255, 255, 255, 0.1) !important;
}


.Toastify__toast--info {
  background: rgba(129, 132, 153, 0.1) !important;
  border: 1px solid #7bcfff !important;
  border-radius: 4px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
  color: #999999 !important;
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 0.9em !important;
}

.Toastify__toast--info .Toastify__toast-icon {
  color: #7bcfff !important;
}

.Toastify__toast--info .Toastify__close-icon {
  color: #7bcfff !important;
}

.Toastify__toast--info .Toastify__progress-bar {
  background: #7bcfff9d !important;
}

.Toastify__toast--success {
  background: rgba(129, 132, 153, 0.1) !important;
  border: 1px solid #46f436 !important;
  border-radius: 4px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
  color: #999999 !important;
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 0.9em !important;
}

.Toastify__toast--success .Toastify__toast-icon {
  color: #46f436 !important;
}

.Toastify__toast--success .Toastify__close-button {
  color: #46f436 !important;
}

.Toastify__toast--success .Toastify__progress-bar {
  background: #46f4369d !important;
}

.Toastify__toast--error {
  background: rgba(244, 67, 54, 0.1) !important;
  border: 1px solid #f44336 !important;
  border-radius: 4px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
  color: #999999 !important;
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 0.9em !important;
}

.Toastify__toast--error .Toastify__toast-icon {
  color: #f44336 !important;
}

.Toastify__toast--error .Toastify__close-button {
  color: #f44336 !important;
}

.Toastify__toast--error .Toastify__progress-bar {
  background: #f443369d !important;
}


.Toastify__toast--warn {
  background: rgba(244, 228, 54, 0.1) !important;
  border: 1px solid #f4ee36 !important;
  border-radius: 4px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
  color: #999999 !important;
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 0.9em !important;
}

.Toastify__toast--warn .Toastify__toast-icon {
  color: #f4ee36 !important;
}

.Toastify__toast--warn .Toastify__close-button {
  color: #f4ee36 !important;
}

.Toastify__toast--warn .Toastify__progress-bar {
  background: #f4ee369d !important;
}

